.searchBar__container {
  display: flex;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid transparent;
  width: 30%;
  transition: 0.3s;
}

.searchBar {
  padding: 5px;
  outline: none;
  border: none;
}

.searchBar__container:hover {
  border-bottom: 1px solid blue;
}


.magnifier {
  cursor: pointer;
}