.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s;
}

.list-item:hover {
  opacity: 0.9;
}

.list-item label {
  cursor: pointer;
}

.list-item label:hover {
  opacity: 0.9;
}

.list-item__position {
  display: flex;
  cursor: pointer;
}

.list-item__delete-icon {
  display: flex;
  cursor: pointer;
}